.main {
  background: radial-gradient(
    circle at 0% 0%,
    rgb(5, 88, 67) 10%,
    rgb(4, 59, 90) 50%
  );
  color: white;
  height: 100vh;
  font-family: 'Merriweather', serif;
  
}
.main-body {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center !important;
  position: relative;
}

.main-body-right {
  border: 2px whitesmoke solid;
  border-radius: 10%;
  padding: 50px;
  background: radial-gradient(
    circle at 0% 50%,
    rgb(29, 81, 104) 2%,
    rgb(5, 88, 67) 300%
  );
}

.main-body-left {
  float: right !important;
}

.dev-finder {
  float: right;
  font-size: 50px;
  margin-bottom: 70px;
  font-size: 50px;
}
.find-btn {
  float: right;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 120px !important;
  background: transparent;
  color: white !important;
  padding: 10px;
  border: 1px solid white;
  height: 40px;
  border-radius: 20px 20px;
  background: radial-gradient(
    circle at 0% 50%,
    rgb(44, 93, 81) 1%,
    rgb(4, 59, 90) 97%
  );


}

.input-user {
  background: transparent;

  padding: 10px;
  border: 1px solid white;

  width: 400px;
  height: 40px;

  border-radius: 20px 20px;
}
body::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  width: 50%;
  height: 20px;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.card-img {
  width: 33%;
  border-radius: 50%;
  margin-right: 30px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
}
.card-body {
  display: flex;
  justify-content: space-around;
}
.left-info {
  width: 33%;
  margin-right: 20px;
}
.left-info > * {
  margin-top: 5px;
  margin-right: 5px;
}

.right-info {
  width: 66%;
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66%;
}
input,
select,
textarea {
  color: white;
}
*:focus {
  outline: none;
}
@media only screen and (max-width: 334px) {
  .find-btn {
    margin-bottom: 10px;
  }
  .input-user {
    width: 200px !important;
  }
}

@media only screen and (max-width: 760px) {
  .find-btn {
    margin-bottom: 10px;
  }
  .input-user {
    width: fit-content;
  }
  .card-header,
  .card-body {
    display: block;
  }
  .card-img {
    width: 75px;
    margin: auto;
  }
  .main-body > p {
    font-size: 10px;
  }
  .main {
    height: 100vh;
  }
}
@media only screen and (max-width: 400px) {
  .main {
    height: 100vh;
  }

  .main-body-right > * {
    display: block;
  }
  .main-body {
    top: 50%;

    margin-top: 110px;
  }
}

@media only screen and (max-width: 1100px) {
  .card-header {
    display: block;
  }
  .main-body {
    width: 90%;
    margin-top: 10px;
  }
  .main {
    height: 100vh;
  }
  .input-user {
    width: 300px;
    margin: auto;
  }
}
@media only screen and (max-width: 1400px) {
  .card-body {
    display: block;
    padding: 0;
  }
}

@media only screen and (max-width: 1800px) {
  body::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    width: 50%;
    height: 20px;
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
